body { 
	background-color: #efebe9;
	font-family: sans-serif;
}
table {
	font-size: 0.8rem;
	background-color:mintcream;
}
.output {
	background-color: #37474F;
	color: #eceff1;
}
.output pre {
	color: #eceff1;
	margin: 0;
	white-space: pre-wrap;
}