body { background-color: #f1f5f7; }
table {
	font-size: 0.8rem;
	background-color: #ffffff;
}
h3 {
	border-bottom:1px solid #000000;
	font-size:1.2rem;
}
.kustom-navbar {
	min-height: 4rem;
	background-color: #253a44;
	box-shadow: 0 .5rem 1rem rgba(0,0,0,.05),inset 0 -1px 0 rgba(0,0,0,.1);
}
.output {
	/*color: #eceff1;*/
}
.output pre {
	background-color: #37474F;
	color: #eceff1;
	margin: 0;
	white-space: pre-wrap;
}
.table-responsive-heightlimit {
    max-height: 400px; 
    overflow-y: auto; 
    overflow-x: auto;
}
.table-responsive-heightlimit thead th {
  position: sticky;
  top: 0;
  background-color: #aaa; 
  color: white;
  z-index: 2;
}
th.url-minwidth,
td.url-minwidth {
    white-space: nowrap;
}