<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}CMI Admin{% endblock %}</title>
    <link rel="icon" href="../static/favicon.ico" sizes="48x48">
    <link rel="stylesheet" href="../static/bootstrap.min.css">
    <link rel="stylesheet" href="../static/main.css" />
</head>
<body>

	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.4.4/dist/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	
	<header class="navbar navbar-expand navbar-dark flex-column flex-md-row kustom-navbar sticky-top">
	
        <div class="navbar-brand mr-0 mr-md-2">
            <h1 class="main-title">CMI Admin</h1>
        </div>

        <ul class="navbar-nav ml-md-auto nav-pills">
          <li class="nav-item">
            <a class="nav-link {% if active_page == 'cockpit' %}active{% endif %}" href="/">Cockpit</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if active_page == 'fulloverview' %}active{% endif %}" href="/fulloverview">Full Overview</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link {% if active_page in ['services', 'services-single'] %}active{% endif %} dropdown-toggle" href="#" id="navbarServicesLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">CMI Services</a>
            <div class="dropdown-menu" aria-labelledby="navbarServicesLink">
              <a class="dropdown-item" href="/services">Groups</a>
              <a class="dropdown-item" href="/services-single-prod">Single PROD</a>
              <a class="dropdown-item" href="/services-single-test">Single TEST</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if active_page == 'metatool' %}active{% endif %}" href="/metatool">MetaTool</a>
          </li>
        </ul>
        
	</header>

	<div class="container-fluid">
		{% block content %}
		{% endblock %}
	</div>
    
	<script src="{{ url_for('static', filename='js/table-sort.js') }}"></script>
</body>
</html>