{% extends 'base.html' %}

{% block title %}CMI MetaTool.ini{% endblock %}

{% block content %}
<div class="row align-items-start p-2">

    <!-- Left Column: Buttons and Actions -->
    <div class="col-4 p-2">
        <div class="row mb-2 align-items-start">
            <div class="col">
                <h2 class="mb-0">CMI MetaTool</h2>
            </div>
        </div>

        <div class="row mb-2 align-items-start">
		  <div class="col">
		
			<div id="tableRaw"></div>
			
			<h3 class="card-title">CMI (Prod)</h3>
			<div class="card">
				<div class="card-body">
					<div class="table-responsive table-responsive-heightlimit">
                        <table id="dataTableCmiProd" class="table table-borderless" style="background: none; width:auto; table-layout:auto;"></table>
                    </div>
				</div>
			</div>
		  </div>
		</div>
        <div class="row mb-2 align-items-start">
		  <div class="col">
			<h3 class="card-title">AIS (Prod)</h3>
			<div class="card">
				<div class="card-body">
					<div class="table-responsive table-responsive-heightlimit">
                        <table id="dataTableAisProd" class="table table-borderless" style="background: none; width:auto; table-layout:auto;"></table>
                    </div>
				</div>
			</div>
		  </div>
		</div>
        <div class="row mb-2 align-items-start">
		  <div class="col">
			<h3 class="card-title">CMI (Test)</h3>
			<div class="card">
				<div class="card-body">
					<div class="table-responsive table-responsive-heightlimit">
                        <table id="dataTableCmiTest" class="table table-borderless" style="background: none; width:auto; table-layout:auto;"></table>
                    </div>
				</div>
			</div>
		  </div>
		</div>
        <div class="row mb-2 align-items-start">
		  <div class="col">
		    <h3 class="card-title">AIS (Test)</h3>
			<div class="card">
				<div class="card-body">
					<div class="table-responsive table-responsive-heightlimit">
                        <table id="dataTableAisTest" class="table table-borderless" style="background: none; width:auto; table-layout:auto;"></table>
                    </div>
				</div>
			</div>
		  </div>
        </div>
        
    </div>

    <!-- Right Column: content/edit -->
    <div class="col-8 p-2 output">
        <pre id="metatool-content" contenteditable="true"></pre>
    </div>
    <button class="btn mr-2 btn-sm btn-primary" id="saveBtn" onclick="">SAVE</button>

</div>

<script src="{{ url_for('static', filename='js/metatool.js') }}"></script>

{% endblock %}
