{% extends 'base.html' %}

{% block title %}CMI Services{% endblock %}

{% block content %}
<div class="row align-items-start p-2">
    <!-- Left Column: Buttons and Actions -->
    <div class="col-4 p-2">
        <div class="row mb-2 align-items-start">
            <div class="col">
                <h2 class="mb-0">Start/Stop CMI Services</h2>
            </div>
        </div>

        <!-- Stop Buttons -->
        <div class="row mb-2 align-items-start">
            <div class="col d-flex flex-nowrap">
                <button class="btn mr-2 btn-sm btn-warning" onclick="runScriptServices('stop', 'cmi', 'test', 'group-cmi-services')">Stop CMI Test</button>
                <button class="btn mr-2 btn-sm btn-danger" onclick="runScriptServices('stop', 'cmi', 'prod', 'group-cmi-services')">Stop CMI Prod</button>
                <button class="btn mr-2 btn-sm btn-warning" onclick="runScriptServices('stop', 'ais', 'test', 'group-cmi-services')">Stop AIS Test</button>
                <button class="btn mr-2 btn-sm btn-danger" onclick="runScriptServices('stop', 'ais', 'prod', 'group-cmi-services')">Stop AIS Prod</button>
            </div>
        </div>

        <!-- Start Buttons -->
        <div class="row mb-2 align-items-start">
            <div class="col d-flex flex-nowrap">
                <button class="btn mr-2 btn-sm btn-primary" onclick="runScriptServices('start', 'cmi', 'test', 'group-cmi-services')">Start CMI Test</button>
                <button class="btn mr-2 btn-sm btn-primary" onclick="runScriptServices('start', 'cmi', 'prod', 'group-cmi-services')">Start CMI Prod</button>
                <button class="btn mr-2 btn-sm btn-primary" onclick="runScriptServices('start', 'ais', 'test', 'group-cmi-services')">Start AIS Test</button>
                <button class="btn mr-2 btn-sm btn-primary" onclick="runScriptServices('start', 'ais', 'prod', 'group-cmi-services')">Start AIS Prod</button>
            </div>
        </div>

        <!-- Checkbox -->
        <div class="row mb-2 align-items-start">
            <div class="col d-flex flex-nowrap">
                <div class="form-check mb-3">
                    <input type="checkbox" class="form-check-input" id="includeRelay" checked>
                    <label for="includeRelay" class="form-check-label">including Relay-Server</label>
                </div>
            </div>
        </div>
    </div>

    <!-- Right Column: Output -->
    <div class="col-8 p-2 output">
        <h5>Output</h5>
        <pre id="output">Click a button to see the output here.</pre>
    </div>
</div>

<script src="{{ url_for('static', filename='js/services.js') }}"></script>

{% endblock %}
