<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}CMI Admin{% endblock %}</title>
    <link rel="icon" href="../static/favicon.ico" sizes="48x48">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/main.css" />
</head>
<body>
	<header class="navbar navbar-expand navbar-dark flex-column flex-md-row kustom-navbar">
	
				<div class="navbar-brand mr-0 mr-md-2">
					<h1 class="text-center">CMI Admin</h1>
				</div>

					<ul class="navbar-nav ml-md-auto nav-pills">
					  <li class="nav-item">
						<a class="nav-link {% if active_page == 'cockpit' %}active{% endif %}" href="/">Cockpit</a>
					  </li>
					  <li class="nav-item">
						<a class="nav-link {% if active_page == 'services' %}active{% endif %}" href="/services">CMI Services</a>
					  </li>
					  <li class="nav-item">
						<a class="nav-link" href="#">Gitlab Links</a>
					  </li>
					</ul>
					
				
	</header>

	<div class="container-fluid">
		{% block content %}
		{% endblock %}
	</div>

	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.4.4/dist/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>